---
title: "Things I've Built"
description: "Projects by Sangeeth Gandhi"
ogTitle: "Projects & co."
ogDescription: "Things I've built"
ogUrl: "https://de-hem.pages.dev/projects"
nav: projects
---
{% extends "base.njk" %}

{% block css %}
<link rel="stylesheet" href="{{ '/src/css/projects.css' | url }}">
{% endblock %}

{% block content %}
    <!-- intro -->
    <section class="projects-intro" id="main-content">
        <h2>Things I've built</h2>
        <small>Side projects, experiments, etc etc.</small>
    </section>

    <!-- project cards deck -->
    <div class="projects-deck"></div>
{% endblock %}

{% block js %}
<script src="{{ '/src/js/projects.js' | url }}"></script>
{% endblock %}
