<!-- hero section — homepage intro -->
<section class="hero" id="main-content" data-component="hero">
    <h1><span class="hi">Hi!</span>&emsp;
    <span class="hero_emoji">^_^</span></h1> <br> <br>
    <div class="hero-text">Welcome to my site. My name is Sangeeth and I spend time designing things. If you want to just chat about random things (such as <span class="like-display" id="likeDisplay"></span>)
        , or want to commision some design work, I'm your person.<br><br>
        Right now, I work as an engineer at Volvo Trucks, based in Gothenburg, Sweden. <br><br>
        Anyway, feel free to explore my site and see what I've been up to!
    </div>
</section>
