<!-- places / contact -->
<section data-component="places">
    <div class="box">
        <h2>Places I can be found</h2>
        <div>
            <ul>
                <li><span class="listspace">Instagram - <a href="https://www.instagram.com/sangeethg/" >SangeethG</a></span></li>
                <li><span class="listspace">E-mail - <span class="protected-email" data-user="gandhi.sangeeth" data-domain="gmail.com"></span></span></li>
                <li><span class="listspace">Linkedin - <a href="https://www.linkedin.com/in/sangeeth-gandhi/" rel="nofollow noopener">sangeeth-gandhi</a></span></li>
                <li><span class="listspace">Phone - <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" >( ͡° ͜ʖ ͡°)</a></span></li>
            </ul>
        </div>
    </div>
</section>
