h1{
    font-family: overpass, Arial, Helvetica, sans-serif;
}

h2{
    background: linear-gradient(90deg, hsl(218, 100%, 50%) 0%, hsl(218, 100%, 15%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: overpass, Arial, Helvetica, sans-serif;
}

h3{
    font-family: overpass;
}

.hero{
    min-height: 20vh;
    margin-top: 10rem;
    padding-right: 5rem;
    margin-bottom: 10rem;
    padding-top: 5rem;
}

.hero_emoji{
    font-size: var(--font-size-xxl);
    margin-left: -1rem;
}

.hi{
    font-size: 72px;
    font-weight: bold;
    background: linear-gradient(90deg, hsl(218, 100%, 80%) 0%, hsl(218, 100%, 25%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text{
    padding: 2rem 1rem 2rem 0rem;
}

.like-display{
    background: linear-gradient(90deg, hsl(218, 100%, 50%) 0%, hsl(218, 100%, 25%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box{
    background-color: hsl(218, 100%, 90%);
    padding: 5rem;
    margin-bottom: 10rem;
    box-shadow:  
        -1px 1px hsl(218, 100%, 80%),
		-2px 2px hsl(218, 100%, 80%),
		-3px 3px hsl(218, 100%, 80%),
		-4px 4px hsl(218, 100%, 80%),
		-5px 5px hsl(218, 100%, 80%);
}

.container1{
    background-color: hsl(79, 100%, 95%);
    padding: 5rem 10rem 5rem 5rem;
    margin-top: 5rem;
    box-shadow:  
       inset 1px 1px hsl(79, 100%, 80%),
       inset 2px 2px hsl(79, 100%, 80%),
       inset 3px 3px hsl(79, 100%, 80%),
       inset 4px 4px hsl(79, 100%, 80%),
       inset 5px 5px hsl(79, 100%, 80%),
       0px 8px 32px 0 hsla(79, 100%, 80%, 0.3);
    color: hsl(79, 100%, 20%);
}
.container2{
    background-color: hsl(255, 100%, 90%);
    padding: 5rem 10rem 5rem 5rem;
    margin-top: 5rem;
    box-shadow:  
       inset 1px 1px hsl(255, 100%, 80%),
       inset 2px 2px hsl(255, 100%, 80%),
       inset 3px 3px hsl(255, 100%, 80%),
       inset 4px 4px hsl(255, 100%, 80%),
       inset 5px 5px hsl(255, 100%, 80%),
       0px 8px 32px 0 hsla(255, 100%, 80%, 0.3);
    color: hsl(255, 100%, 30%);
}
.container3{
    background-color: hsl(324, 100%, 95%);
    padding: 5rem 10rem 5rem 5rem;
    margin-top: 5rem;
    box-shadow:  
       inset 1px 1px hsl(324, 100%, 80%),
       inset 2px 2px hsl(324, 100%, 80%),
       inset 3px 3px hsl(324, 100%, 80%),
       inset 4px 4px hsl(324, 100%, 80%),
       inset 5px 5px hsl(324, 100%, 80%),
       0px 8px 32px 0 hsla(324, 100%, 80%, 0.3);
    color: hsl(324, 100%, 30%);
}
.container4{
    background-color: hsl(26, 100%, 95%);
    padding: 5rem 10rem 5rem 5rem;
    margin-top: 5rem;
    box-shadow:  
       inset 1px 1px hsl(26, 100%, 80%),
       inset 2px 2px hsl(26, 100%, 80%),
       inset 3px 3px hsl(26, 100%, 80%),
       inset 4px 4px hsl(26, 100%, 80%),
       inset 5px 5px hsl(26, 100%, 80%),
       0px 8px 32px 0 hsla(26, 100%, 80%, 0.3);
    color: hsl(26, 100%, 30%);
}
.portfolio{
    background-color: hsl(218, 100%, 90%);
    padding: 5rem;
    margin-top: 5rem;
    border-top: 1rem ridge;
    border-bottom: 1rem ridge;
    border-color: hsla(218, 100%, 80%);
}

.bullets{
    margin-left: 6rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    line-height: 2.3rem;
}
.bullets::marker{
    font-size: 1.3rem;
}

.listspace{
    padding-left: 2rem;
}

li.bullets.malayalam{
    list-style-type: malayalam;
}

li.bullets.tamil{
    list-style-type: tamil;
}

li.bullets.devanagari{
    list-style-type: devanagari;
}

a.hover-link-o{
    text-decoration: none;
    position: relative;
    color: hsl(4, 100%, 30%);
}

a.hover-link-o::before{
        content: '';
        background-color: hsl(4, 100%, 85%);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.6rem;
        z-index: -1;
        transition: all .3s ease-in-out;
}

a.hover-link-o:hover::before{
    bottom: 0;
    height: 0.3rem;
}

/* #dark theme */
.dark-mode .hi{
    background: linear-gradient(90deg, hsl(218, 100%, 80%) 0%, hsl(218, 100%, 75%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark-mode .like-display{
    background: linear-gradient(90deg, hsl(218, 100%, 70%) 0%, hsl(218, 100%, 75%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark-mode .box{
    background-color: hsl(218, 100%, 35%);
    box-shadow:  
        -1px 1px hsl(218, 100%, 20%),
		-2px 2px hsl(218, 100%, 20%),
		-3px 3px hsl(218, 100%, 20%),
		-4px 4px hsl(218, 100%, 20%),
		-5px 5px hsl(218, 100%, 20%);
}

.dark-mode h2{
    background: linear-gradient(90deg, hsl(218, 100%, 100%) 0%, hsl(218, 100%, 950%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.dark-mode .container1{
    background-color: hsl(79, 50%, 20%);
    box-shadow:  
       inset 1px 1px hsl(79, 100%, 10%),
       inset 2px 2px hsl(79, 100%, 10%),
       inset 3px 3px hsl(79, 100%, 10%),
       inset 4px 4px hsl(79, 100%, 10%),
       inset 5px 5px hsl(79, 100%, 10%),
       0px 8px 32px 0 hsla(79, 100%, 20%, 0.3);
    color: hsl(79, 100%, 90%);
}
.dark-mode .container2{
    background-color: hsl(255, 50%, 20%);
    box-shadow:  
       inset 1px 1px hsl(255, 100%, 10%),
       inset 2px 2px hsl(255, 100%, 10%),
       inset 3px 3px hsl(255, 100%, 10%),
       inset 4px 4px hsl(255, 100%, 10%),
       inset 5px 5px hsl(255, 100%, 10%),
       0px 8px 32px 0 hsla(255, 100%, 20%, 0.3);
    color: hsl(255, 100%, 90%);
}
.dark-mode .container3{
    background-color: hsl(324, 50%, 20%);
    box-shadow:  
       inset 1px 1px hsl(324, 100%, 10%),
       inset 2px 2px hsl(324, 100%, 10%),
       inset 3px 3px hsl(324, 100%, 10%),
       inset 4px 4px hsl(324, 100%, 10%),
       inset 5px 5px hsl(324, 100%, 10%),
       0px 8px 32px 0 hsla(324, 100%, 20%, 0.3);
    color: hsl(324, 100%, 90%);
}
.dark-mode .container4{
    background-color: hsl(26, 50%, 20%);
    box-shadow:  
       inset 1px 1px hsl(26, 100%, 10%),
       inset 2px 2px hsl(26, 100%, 10%),
       inset 3px 3px hsl(26, 100%, 10%),
       inset 4px 4px hsl(26, 100%, 10%),
       inset 5px 5px hsl(26, 100%, 10%),
       0px 8px 32px 0 hsla(26, 100%, 20%, 0.3);
    color: hsl(26, 100%, 90%);
}

.dark-mode a.hover-link-o{
    color: hsl(4, 50%, 70%);
}

.dark-mode a.hover-link-o::before{
        background-color: hsl(4, 100%, 15%);
}

/* #media queries */
@media screen and (min-width: 1200px) {
        .hero{
        padding-right: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .hero{
        padding-right: 2rem;
    }
    .hero-text{
        padding-right: 1rem;
    }
    .box{
        padding: 1.5rem;
        padding-top: 4rem;
    }
    h2{
        padding-right: 7rem;
    }
    .container1, .container2, .container3, .container4{
        padding: 5rem 1rem 2rem 2rem;
    }
    .bullets{
        margin-left: 4.5rem;
        list-style-position: outside;
    }
}
