:root{
   --font-light: hsl(211, 82%, 18%);
   --font-dark: hsl(218, 100%, 95%);
   --bg-light:hsl(0, 0%, 100%); 
   --bg-dark:hsl(218, 58%, 20%);
   --font-size-xsm: 1rem;
   --font-size-sm: 1.3rem;
   --font-size-md: 1.6rem;
   --font-size-lg: 2.5rem;
   --font-size-xl: 4rem;
   --font-size-xxl: 7rem;
   --gap: 2rem;
   --margin-sm: 2rem;
   --margin-md: 3rem;
   --font-family: 'Syne', verdana, geneva, tahoma, sans-serif;
}

/* base styles */
*{
   box-sizing: border-box;
   padding: 0;
   transition: all 0.3s ease-in-out;
   margin: 0;
}

html{
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body{
   font-family: var(--font-family);
   font-size: var(--font-size-md);
   background-color: var(--bg-light);
   color: var(--font-light);
   line-height: 1.5;
   overflow-x: hidden;
   transition: background-color 0.25s;
   margin: auto;
   max-width: 1024px;
   word-break: break-word;
   display:flex; 
   flex-direction:column; 
   justify-content:center;
   line-height: 2.8rem;
}

a.hover-link{
    position: relative;
    font-style: normal;
    color: hsl(218, 100%, 20%);
    font-family: 'Syne', sans-serif;
    font-weight: normal;
}

section {
    display: flexbox;
}

/* custom styles */
.logo-header{
   width: 100%;
   max-width: 8rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ds-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
}

.menu{
    display: flex;
    justify-content: end;
    align-items: end;
    text-transform: uppercase;
    vertical-align: middle;
}

.nav-links{
    list-style-type: none;
    display: flex;
}

.list-item{
    display: inline-block;
    padding: 1rem;
    font-size: var(--font-size-lg);
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 99;
    font-size: var(--font-size-md);
    background-color: hsla(0, 0%, 100%, 0.37);
    color: var(--font-light);
    border: none;
    box-shadow: 0.3rem 0.3rem 0.6rem #bec8d68e, -0.2rem -0.2rem 0.5rem rgba(190, 202, 236, 0.589);
    cursor: pointer;
    padding: 1rem 2rem;
    backdrop-filter: blur(16.5px);
     -webkit-backdrop-filter: blur(16.5px);
    transition: .3s ease-in-out;
}

#back-to-top:hover {
    background-color: rgba(193, 199, 228, 0.582);
}

.footer{
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5rem 0rem;
}

.active-link{
    text-decoration: none;
    background-color: hsl(195, 53%, 79%);
    padding: 0rem 1rem;
}


img.refresh-icon{
    height: 1.5rem;
    width: 1.5rem;
    background: url("/assets/img/refresh.svg");
    vertical-align: -0.25rem;
    animation: rotate 5000ms 5 linear;
    cursor: pointer;
}

/* media queries */
@media screen and (min-width: 1024px) {
    body{
        padding: 5rem;
    }
    #back-to-top{
        right: 20%;
    }
}

@media screen and (max-width: 768px) {
    body{
        padding: 3rem;
    }
    .ds-header{
        padding-right: 1rem;
    }
    .list-item{
        font-size: var(--font-size-md);
    }
    h1{
        padding-top: 5rem;
    }
    .intro{
        margin-top: 5rem;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    body{
        padding: 5rem;
    }
}