@import url(/assets/css/main.css);
@import url(/assets/css/ds.css);
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&family=Syne&display=swap');

.dark-mode .refresh-icon{
    filter: invert(0.65);
}

.refresh-icon{
    height: 1.5rem;
    width: 1.5rem;
    background: url("/assets/img/refresh.svg");
    vertical-align: -0.25rem;
    animation: rotate 5000ms 5 linear;
    cursor: pointer;
}
