---
title: "Sangeeth's Personal Blog"
description: "Blog by Sangeeth Gandhi - Thoughts, every sometimes."
ogTitle: "Personal Blog"
ogDescription: "Stuff and thoughts by me"
ogUrl: "https://ds-hem.pages.dev/blog"
nav: blog
---
{% extends "base.njk" %}

{% block css %}
<link rel="stylesheet" href="{{ '/src/css/filter.css' | url }}">
<link rel="stylesheet" href="{{ '/src/css/blog.css' | url }}">
{% endblock %}

{% block content %}
    <!-- hero -->
    <section class="intro" id="main-content">
        You have found the blog. congratulations! <br>
        Now, go read a post. 
    </section>

    <!-- filter -->
    <input type="radio" id="all" name="categories" value="all" checked>
    <input type="radio" id="web_design" name="categories" value="web_design">
    <input type="radio" id="general" name="categories" value="general">

    <ol class="filters">
        <div class="filter-indicator"></div>
        filters: &nbsp;
        <li>
            <label for="all">all</label>
        </li>
        /
        <li>
            <label for="web_design">web design</label>
        </li>
        /
        <li>
            <label for="general">general</label>
        </li>
    </ol>

    {% set postsByYear = collections.blogPosts | groupByYear %}

    {% for year, posts in postsByYear | dictsort | reverse %}
    {% set yearPosts = posts | sort(attribute="date") | reverse %}
    <div class="posts">
        <h2>{{ year }}</h2>
        <ul class="list-of-posts">
        {% for post in yearPosts %}
            {% set cat = post.data.category %}
            {% set catClass = "sub-web" if cat == "web_design" else "sub-gen" %}
            <li class="post" data-category="{{ cat }}">
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                <span class="super">{{ post.date | shortDate }}</span>
                <span class="{{ catClass }}">{{ cat | replace("_", " ") }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% endblock %}

{% block footer %}
Built in GBG with VS Code and lots of Love <br>
Sangeeth G, 2026
{% endblock %}

{% block js %}
<script src="{{ '/src/js/filter.js' | url }}"></script>
{% endblock %}
