h1{
    padding-top: 15rem;
    padding-bottom: 5rem;
}

h2{
    padding: 5rem 0rem 2rem 0rem;
}

h3{
    padding: 5rem 0rem 1rem 0rem;
}

p{
    padding-right: 5rem;
    padding-bottom: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: .03em;
}

body ul li a{
    color: black;
    font-style: italic;
    font-family: 'Syne';
    font-weight:normal ;
}

ul {
    list-style-type:"// ";
    padding-left: 2rem;
}


/* intro */
.intro{
    margin-top: 15rem;
    margin-bottom: 5rem;
    font-size: x-large;
}

/* list styling */
.f2023{
    font-size: large;
}
a.f2023{
    position: relative;
    color: hsl(218, 100%, 20%);
}

li.nobullet{
    list-style: none;  
    margin-left: -2rem;
}

/* BLOG SUPPORT */
.blog-ref a {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
    color:hsl(218, 100%, 30%);
    text-decoration: none;
  }
.blog-ref img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2rem;
  }
.blog-ref p.log-sub {
    display: inline-block;
    vertical-align: -5rem;
    margin-left: -5rem;
  }
.blog-img{
    max-width: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footnotes{
    padding-top: 2rem;
    margin-left: 2rem;
    font-size: var(--font-size-sm);
}
.posts {
    padding-bottom: 2rem;
}

body p a{
    text-decoration: underline;
    color:hsl(216, 100%,10%);
    transition: color 275ms ease;
    font-style: italic;
    }

a#fnref1,a#fnref2,a#fnref3,a#fnref4,a#fnref5{
    background: none;
    text-decoration: none;
    font-family: 'Syne', Arial, Helvetica, sans-serif;
    color: hsl(216, 100%,10%);
}

a.footnote-backref{
    background: none;
    text-decoration: none;
}

/* filters */
.super{
    vertical-align: 1rem;
    font-size: small;
    margin-left: 1rem;
    color: black;
}

.sub-web{
    vertical-align: -1rem;
    font-size: small;
    margin-left: -5rem;
    background-color: hsl(135, 100%, 95%);
    color: hsl(135, 100%, 25%);
    padding: 0.25rem;
}

.sub-gen{
    vertical-align: -1rem;
    font-size: small;
    margin-left: -5rem;
    background-color: hsl(44, 100%, 95%);
    color: hsl(44, 100%, 20%);
    padding: 0.25rem;
}

.second{
    margin-left: 0.5rem;
}

.filter-button{
    font-family: inherit;
    border: none;
    background-color: hsl(239, 80%, 90%);
    color: hsl(239, 100%, 10%);
    padding: 0.25rem 1rem;
}

.selected{
    background-color: hsl(239, 100%, 65%);
    color: hsl(239, 100%, 95%);
    box-shadow: inset 0rem 0rem 0rem 0.15rem  black;
}

.filter{
    padding-bottom: 5rem;
}

/* code */
pre code {
	color: var(gray);
	tab-size: 4;
}

code {
	font-family: var("SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace);
	font-size: 1em;
	line-height: 1.357em;
}


pre {
	background-color: hsl(0, 0%, 79%);
    color: hsl(0, 0%, 0%);
    padding: 2rem;
    overflow: auto;
    margin: 2rem 0rem;
    white-space: pre-wrap;
}

/* #media queries */
@media screen and (min-width: 1200px) {
 p{
    padding: 1rem;
 }
 .blog-img{
    max-width: 100%;
}
}

@media screen and (max-width: 768px) {
    p{
        padding: 1rem;
     }
     .blog-img{
        max-width: 100%;
    }
    .posts{
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    body{
        padding: 5rem;
    }
}