h1{
    padding-top: 5rem;
    padding-bottom: 2rem;
}

h2{
    padding: 2rem 0rem;
}

h3{
    padding: 1rem 0rem;
}

p{
    padding-right: 0rem;
    padding-bottom: 1rem;
    font-family: Inter;
    letter-spacing: .03em;
}

body ul li a{
    color: hsl(218, 100%, 20%);
    font-weight:normal ;
}

[data-theme="dark"] body ul li a {
    color: #b0c0ff;
}

ul {
    list-style-type: "// ";
    padding-left: 2rem;
}


/* intro */
.intro{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: x-large;
}

[data-theme="dark"] .intro {
    color: #ffffff;
}

/* list styling */
.f2023{
    font-size: large;
}
a.f2023{
    position: relative;
    color: hsl(218, 100%, 20%);
}

[data-theme="dark"] a.f2023 {
    color: #b0c0ff;
}

li.nobullet{
    list-style: none;  
    margin-left: -2rem;
}

/* BLOG SUPPORT */
.blog-ref a {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
    color:hsl(218, 100%, 30%);
    text-decoration: none;
  }

[data-theme="dark"] .blog-ref a {
    color: #b0c0ff;
}
.blog-ref img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2rem;
  }
.blog-ref p.log-sub {
    display: inline-block;
    vertical-align: -2rem;
    margin-left: -6rem;
  }
.blog-img{
    max-width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footnotes{
    padding-top: 0rem;
    margin-left: 2rem;
    font-size: var(--font-size-xsm);
}
.posts {
    padding-bottom: 0rem;
}

body p a{
    text-decoration: underline;
    color:hsl(216, 100%,10%);
    transition: color 275ms ease;
    }

[data-theme="dark"] body p a {
    color: #a0c0ff;
}

a#fnref1,a#fnref2,a#fnref3,a#fnref4,a#fnref5{
    background: none;
    text-decoration: none;
    font-family: 'Syne', Arial, Helvetica, sans-serif;
    color: hsl(216, 100%,10%);
}

[data-theme="dark"] a#fnref1,
[data-theme="dark"] a#fnref2,
[data-theme="dark"] a#fnref3,
[data-theme="dark"] a#fnref4,
[data-theme="dark"] a#fnref5 {
    color: #a0c0ff;
}

a.footnote-backref{
    background: none;
    text-decoration: none;
}

/* filters */
.super{
    vertical-align: 1rem;
    font-size: small;
    margin-left: 2rem;
    color: hsl(0, 0%, 40%);
}

[data-theme="dark"] .super {
    color: #c0c0c0;
}

.sub-web{
    vertical-align: -1rem;
    font-size: small;
    margin-left: -6rem;
    background-color: hsl(135, 100%, 95%);
    color: hsl(135, 100%, 25%);
    padding: 0.25rem;
}

[data-theme="dark"] .sub-web {
    background-color: hsl(135, 50%, 25%);
    color: #a0e0a0;
}

.sub-gen{
    vertical-align: -1rem;
    font-size: small;
    margin-left: -6rem;
    background-color: hsl(44, 100%, 95%);
    color: hsl(44, 100%, 20%);
    padding: 0.25rem;
}

[data-theme="dark"] .sub-gen {
    background-color: hsl(44, 50%, 25%);
    color: #f0d0a0;
}

.second{
    margin-left: 0.5rem;
}

.filter-button{
    font-family: inherit;
    border: none;
    background-color: hsl(239, 80%, 90%);
    color: hsl(239, 100%, 10%);
    padding: 0.25rem 1rem;
}

[data-theme="dark"] .filter-button {
    background-color: hsl(239, 40%, 30%);
    color: #d0d0ff;
}

.selected{
    background-color: hsl(239, 100%, 65%);
    color: hsl(239, 100%, 95%);
    box-shadow: inset 0rem 0rem 0rem 0.15rem  black;
}

[data-theme="dark"] .selected {
    background-color: hsl(239, 60%, 50%);
    color: #ffffff;
    box-shadow: inset 0rem 0rem 0rem 0.15rem #ffffff;
}

.filter{
    padding-bottom: 2rem;
}

/* code */
pre code {
	color: hsl(0, 0%, 50%);
	tab-size: 4;
}

code {
	font-family: "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
	font-size: 1em;
	line-height: 1.357em;
}

[data-theme="dark"] code {
    color: #e0e0e0;
}

pre {
	background-color: hsl(0, 0%, 79%);
    color: hsl(0, 0%, 0%);
    padding: 2rem;
    overflow: auto;
    margin: 2rem 0rem;
    white-space: pre-wrap;
}

[data-theme="dark"] pre {
    background-color: hsl(220, 20%, 20%);
    color: #e0e0e0;
}
