input[type="radio"] {
    display: none;
  }

.filters * {
    display: inline-block;
  }

[data-theme="dark"] .filters {
    color: #ffffff;
}

.filters label {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s;
  }

.filters label:hover {
    background: hsl(211, 83%, 90%);
    color: hsl(211, 83%, 5%);
}

[data-theme="dark"] .filters label:hover {
    background: hsl(211, 60%, 30%);
    color: #ffffff;
}

.posts .post {
    list-style-type: none;
    margin-left: -2rem;
}
 

[value="All"]:checked ~ .posts [data-category] {
    display: block;
}

[value="web design"]:checked ~ .posts .post:not([data-category~="web_design"]),
[value="general"]:checked ~ .posts .post:not([data-category~="general"]) {
  display: none;
}

[value="all"]:checked ~ .filters [for="all"],
[value="web design"]:checked ~ .filters [for="web_design"],
[value="general"]:checked ~ .filters [for="general"] {
  background: hsl(211, 83%, 90%);
    color: hsl(211, 83%, 5%);
}

[data-theme="dark"] [value="all"]:checked ~ .filters [for="all"],
[data-theme="dark"] [value="web design"]:checked ~ .filters [for="web_design"],
[data-theme="dark"] [value="general"]:checked ~ .filters [for="general"] {
    background: hsl(211, 60%, 30%);
    color: #ffffff;
}