@import url('https://fonts.googleapis.com/css2?family=Syne&family=Inter:wght@400&display=swap');
@import url(/blog/assets/css/filter.css);
@import url(/blog/assets/css/blog.css);
@import url(/assets/css/main.css);